.alert {
	font-size: 14px;
}
.alert-bx{
	border-radius: 4px;
	background-color: #eaeaea;
	padding: .78rem;
	margin-bottom: .78em;
	font-size: 14px;
}

.error-alert{
	color: #f05451;
	border-left: 3px solid #f05451;
}

.alert-warning-yellow {
    background-color: #df9e04;
    color: #fff;
}

.alert-warning-yellow .alert-icon{
	color: #855e03;
	vertical-align: middle; 
	margin-right: 5px;
}

.alert-warning-green {
    background-color: #4cc64f;
    color: #fff;
}

.alert-warning-green .alert-icon{
	color: #207622;
	vertical-align: middle; 
	margin-right: 5px;
}

/* signup margin over ride main.css */
.signup {
    margin-bottom: 30px;
}
.signup input {
    margin-bottom: 0px;
}
.log-icon{
	margin-bottom: 30px;
}
.log-icon select{
	margin-bottom: 0px;
}

.sgn-md-btn label{
    line-height: 2.5;
    color: #000;
    font-weight: 600;
    border-right: 1px solid #eeeeee;
    margin-bottom: inherit !important;
    display: inline-block;
}

.sgn-md-btn input[type="radio"]:checked + label{
	color: #fff;
    background-color: #007bff;
}
.sgn-md-btn input[type="radio"]:hover + label{
	cursor: pointer;
}

.sgn-md-btn input[type="radio"]{
	opacity: 0;
	width: 0;
	position: fixed;
}
.login {
    max-width: 480px;
}