
.bg{
    background: #007bff;
}
.clr{
    color: #007bff;
}
.logo{
    max-width: 150px;
}
.mar-right{
    margin-right: 15px;
}
.color{
    color: #666666;
    font-weight: 600;
}
.color:hover,.li-list a:hover{
    color: #007bff;
}
.menu-wrapper{
    background: #fbfbfb;
    border-top: 1px solid #eeeeee;
    box-shadow: 0 7px 10px -6px rgba(0,0,0,0.1);
}
.li-list{
    margin: 0 15px;
}
.li-list a{
    line-height: 3;
    color: #666666;
}
.dis-none{
    display: none;
    font-weight: 600;
}
.d-inlin{
    display: inline;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.hamburgger{
    display: inline-block;
    cursor: pointer;
    display: none;
    background: inherit;
    border: inherit;
}

/*...header ends...*/

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0));
    width: 60%;
}
/* .slider-content{
    position: absolute;
    top: 50%;
    left: 200px;
} */
.slider-wrapper{
    background-image: url("../images/bg.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
}
.slider-content h1{
    font-weight: bold;
}
.slider-content button,.lg-btn{
    max-width: 140px;
    border: 1px solid #007bff;
}

/*...slider ends...*/

footer{
    background: #184153;
}
.un-line{
    border-bottom: 1px solid #2b5468;
}
.social-list a{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    overflow: hidden;
    background: #2b5468;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    transition: all 0.3s ease 0s;
}
.social-list a:hover{
    background: #fff;
    color: #2b5468;
}
.copyright{
    font-size: 12px;
    font-weight: 600;
}
.ft-link{
    color: white !important;
    font-weight: 500;
    font-size: 14px;
}
.ftr-blk{
    display: inline;
    margin-right: 16px;
}

/*...login page...*/

.login-wrapper{
    padding: 60px 0;
    background: #eee;
}

.login-wrapper1{
    padding: 130px 0;
}
.login{
    max-width: 450px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}
.login h5{
    font-weight: 600;
}
.log-icon span{
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    text-align: center;
    line-height: 2.7;
}
.log-icon input{
    border: 1px solid #eee;
    padding: 8px 8px 8px 40px;
}
.log-lnk{
    font-size: 12px;
}
.lg-btn{
    font-weight: 600;
    cursor: pointer;
}
.log-icon input::-webkit-input-placeholder,.log-icon input::-moz-placeholder {
    font-size: 14px;
}
.overlay2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.log-sign-up{
    padding: 20px 0;
    background: url("../images/log-bg.jpg") no-repeat;
    background-size: cover;
}
.log-sign-up h6::after , .log-sign-up h6::before{
    content: "";
    width: 50px;
    height: 1px;
    background: #fff;
    display: inline-block;
    position: relative;
    bottom: 4px;
    margin: 0 10px;
}
.pad-48{
    padding: 48px;
}

/*...sign up page...*/

.fnt-600{
    font-weight: 600;
}
.signup input{
    padding: 8px;
    margin-bottom: 30px;
}
.signup-p{
    font-size: 14px;
    margin:15px 0 0 0;
}
.signup-wrapper{
    background: url("../images/signup-bg.jpg") no-repeat;
    background-size: cover;
}
.create-wrapper{
    background: url("../images/bg_1.jpg") no-repeat;
    background-size: cover;
}

/*...signupnext page...*/

.font-18{
    font-size: 18px;
}
.sgn-btn{
    max-width: 200px;
}
.fnt-14{
    font-size: 14px;
}
.fnt-12{
    font-size: 12px;
}
.log-icon select{
    border: 1px solid #eee;
    padding: 8px;
    margin-bottom: 30px;
}
.sgn-md-btn{
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.sgn-md-btn a{
    line-height: 2.5;
    color: #000;
    font-weight: 600;
    border-right: 1px solid #eeeeee;
}
.log-fnt-16{
    font-size: 16px;
}
.log-fnt-40{
    font-size: 40px;
}
.btn-plus-icn{
    background: inherit !important;
    border: inherit !important;
    padding: inherit !important;
    position: absolute;
    right: 10px;
    padding-right: 0 !important;
    font-size: 20px;
    top: 7px;
    color: #0d6a9c;
}
.signup-invalid{
	padding-top: 8%;
    padding-bottom: 20%;
}