@media only screen and (max-width:991px){
    .slider-wrapper{
        height: 400px;
    }
}
@media only screen and (max-width:767px){
    .slider-wrapper{
        height: 300px;
    }
    .li-list,.hamburgger{
        display: block !important;
    }
    .hdr-rght{
        display: none;
    }
    .menu-wrapper{
        display: none;
        border: inherit !important;
        border-radius: inherit !important;
        background-clip: inherit !important;
        transform: inherit !important;
        top: 79px !important;
    }
    .pst-inht{
        position: inherit !important;
    }
    .hamburgger.dropdown-toggle::after{
        display: none !important;
    }
    .un-line ul{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .un-line ul:last-child{
        margin: 0;
    }
    .soc-mid{
        display: table;
        margin: 0 auto;
    }
}
@media only screen and (max-width:576px){
    .slider-content h1{
        font-size: 30px;
    }
    .slider-content p{
        font-size: 14px;
    }
    .slider-content button{
        max-width: 120px;
    }
    .ftr-blk{
        display: block !important;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .un-line ul{
        text-align: left;
    }
    .soc-mid{
        display: block;
    }
    .pad-48{
        padding: 30px;
    }
}
@media only screen and (max-width:450px){
    .login-wrapper{
        padding: inherit;
    }
}