html,
body {
	font-family: 'Poppins', sans-serif !important;
	font-weight: 500 !important;
	background-color: #f1f1f1 !important;
	font-size: 13px !important;
	color: #000;
}
.bg-wit{
	background: #ffffff !important;
}
ul,li{
	list-style-type: none;
}
body {
	overflow-x: hidden;
}

.full-height{
	min-height: 100vh;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  -moz-appearance: none !important; 
  appearance: none !important; 
  margin: 0; 
}
.full-height-9{
	min-height: 90vh;
}

.full-height-8{
	min-height: 80vh;
}

.full-height-7{
	min-height: 70vh;
}
a{
	text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}
.fullwidth{
	width: 100%;
}
.btn {
	outline: none !important;
}

.btn:hover,
.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
}

.btn-link-secondary {
	color: #9f9bb6;
	background: inherit !important;
}

.btn-notify {
	height: 30px;
	width: 30px;
	background-color:#fff;
	color: #8a8a8a;
	padding: .2rem;
	border-radius: 100%;
}

input,
input:focus,
input:active,
select,
textarea,
select:focus,
textarea:focus,
select:active,
textarea:active{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-moz-box-shadow: none !important;
	outline: none !important;
}

.btn-notify:hover,
.btn-notify:active,
.btn-notify:focus {
	height: 30px;
	width: 30px;
	background-color: rgb(77, 77, 77);
	color: #ffffff;
	padding: .2rem;
	border-radius: 100%;
}
.fa-sort-up {
	cursor: pointer;
	margin-right: 3px;
	/* display: block;
	height:2px; */
  }
  .sort-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* height: 0; */
	cursor: pointer;
  }
  .fa-size {
    font-size: 14px;
    /* line-height: 0.5em;
	vertical-align: -15%; */
	
}
  .fa-sort-down {
	cursor: pointer;
	/* display: block;
	height:2px; */
  }
.navbar{
	/* border-radius: 25px; */
	/* box-shadow: 0 0 5px 1px rgba(0,0,0,.07); */
	background-color: #f1f1f1;
}
.navbar-nav {
	display: inline-block;
	flex-direction: initial;
}

.navbar-nav>.nav-item {
	display: inline-block;
}
.hover-change:hover{
	cursor: pointer !important;
	color: #007bff !important;
}
.navbar-nav>.nav-item>.nav-link {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	display: inline-block;
}
.table-scrolling{
	
	display: block;
	overflow-x: auto;
	white-space: nowrap;

}
.table-scrollin{
	
	
	overflow-x: auto;
	white-space: nowrap;

}
.nav-dropdown {
	margin-left: .5rem;
	margin-right: .5rem;
	display: inline-block;
}

.text-grey {
	color: #575757;
}

.text-light-grey {
	color: #b1b1b1;
}

.text-blue-grey {
	color: #756d9e;
}

.text-black {
	color: #141414;
}

.b-4 {
	font-weight: 400;
}

.b-5 {
	font-weight: 500;
}

.b-6 {
	font-weight: 600;
}

.b-7 {
	font-weight: 700;
}

.text-sm {
	font-size: 80%;
}

.badge-blue{
	background-color: #2aa3b1;
	color: #ffffff;
}


/* TOP NAV */



.sub-header {
	padding: 1.5em;
	border-bottom: 1px solid #e2e2e2;
	flex: 100%;
	background-color: #ffffff;
	border-radius: 25px;
}

.dis-flx{
	display: flex;
}
.css-1aya2g8 {
	width: 230px !important;
	border-radius: 25px !important;
	height:40px !important;
}
.half-width{
	width: 230px !important;
}
label.checkbox-inline {
    margin-right: 11px;
    /* margin-left: 11px; */
}
.row.team-content {
    margin-top: 30px;
    background-color: white;
    padding: 27px;
	border-radius: 25px;
	width:100%; 
}
.position-sub{
	position: absolute;
	top:0;
	right:0 !important;
	line-height: 35px;
}
.line-sub {
    position: absolute;
    top: 0;
    right: 169px !important;
    line-height: 35px;
}
.position-main{
position: relative;
height:35px;
}
.position-middle{
	/* line-height: 35px; */
	position: absolute;
	right:185px;
}
.position-name {
    position: absolute;
    right: 54px;
    line-height: 35px;
    width: 128px;
}
.status-list{
	position: absolute;
    left: 500px;
    line-height: 35px;
}
.time-spent{
	width:50%;
	display: inline-block;
}
.team{
	font-size:11px !important;
	margin-left:0px !important;
}
ul#myTask {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: black !important;
    font-family: sans-serif;
    line-height: 24px;
}
.dtHorizontalExampleWrapper {
	max-width: 600px;
	margin: 0 auto;
	}
	#dtHorizontalExample th, td {
	white-space: nowrap;
	}
	
	table.dataTable thead .sorting:after,
	table.dataTable thead .sorting:before,
	table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_asc_disabled:after,
	table.dataTable thead .sorting_asc_disabled:before,
	table.dataTable thead .sorting_desc:after,
	table.dataTable thead .sorting_desc:before,
	table.dataTable thead .sorting_desc_disabled:after,
	table.dataTable thead .sorting_desc_disabled:before {
	bottom: .5em;
	}
.td-edit{
	padding: 0px !important;
}
.position-name-change {
    position: absolute;
    right: 163px;
    line-height: 35px;
    width: 128px;
}
.icon-right{
	position: absolute;
    right: 25px;
    /* top: 42px; */
}
table.d {
	table-layout: fixed;
  width: 100%; 
  }
  .td-table {

    /* css-3 */
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 

}
  .table-h{
	  border:1px solid black;
	  height:40px;
	  padding-left: 5px;
  }
.table-heading{
	margin-top: 2rem;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    padding: 0px;
}
.error-msg{
	width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.sidenav {
	height: 100%;
	width: 0;
	position: absolute;
	z-index: 1;
	/* top: 0; */
	border-radius: 25px;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 25px;
	padding-left: 10px;
  }
  
  .sidenav a {
	/* padding: 8px 8px 8px 32px; */
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 26px;
	/* margin-left: 50px; */
  }
.row.financial-content {
    margin-top: 30px;
    background-color: white;
    /* padding: 27px; */
    border-radius: 25px;
    width: 830px;
}
.addMore {
    display: flex;
    align-items: center;
}
header {
	/* border-bottom: 1px solid #e2e2e2; */
	margin-left: -15px;
	margin-right: -15px;
	/* background-color: #ffffff; */
}

.brand-img {
	max-width: 250px;
	margin-right: 1.5rem !important;
}

.img-user-icon {
	max-width: 30px;
}


/* TOP NAV END */

.search-group {
	max-width: 180px;
	position: relative;
}

.search-group .input-control {
	border: 1px solid #dcdcdc;
    height: 40px;
	width: 100%;
	border-radius: 4px;
	padding: .5rem .75rem;
	padding-right: 40px;
}

textarea.input-control{
	height: 120px;
	resize: none;
}

select.input-control,
.chosen-choices{
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
	text-overflow: '';
	background-image: url(../image/droparrow.png);
	background-position: center right 15px;
	background-repeat: no-repeat;
	background-size: 10px;
}
select.input-control:focus,
select.input-control:active{
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
	text-overflow: '';
	background-image: url(../image/droparrow.png);
	background-position: center right 15px;
	background-repeat: no-repeat;
	background-size: 10px;
}

.search-group .btn {
	padding: .5rem .7rem;
}

.input-control {
	border: 1px solid #dcdcdc;
    height: 40px;
	width: 100%;
	border-radius: 25px;
	padding: .5rem .75rem;
}
.btn {
    border-radius: 15px;
}
.input-control:focus,
.input-control:active {
	border: 1px solid #9e9e9e;
}
.input-control-file{
	height: inherit;
	background: #fff;
	padding: 8px 10px;
}

.checkbox-cs{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.checkbox-cs label{
	margin-bottom: 0px;
}

.checkbox-cs input{
	position: absolute;
	display: inline-block;
	z-index: 1000;
	opacity: 0;
	cursor: pointer;
}

.checkbox-cs input ~ .check-input{
	position: relative;
	display: inline-block;
	border: 1px solid #d3d3d3;
	background-color: #ffffff;
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 2px;
	vertical-align: middle;
	margin-bottom: 3px;
}

.checkbox-cs input ~ .check-input .icon-tick {
    font-weight: 600;
    font-size: 10px;
	position: absolute;
	display: none;
    top: 2px;
    left: 2px;
	z-index: 100;
}

.checkbox-cs input:checked ~ .check-input{
	position: relative;
	display: inline-block;
	border: 1px solid #ee5551;
	background-color: #ee5551;
	content: '';
	vertical-align: middle;
	margin-bottom: 3px;
}

.checkbox-cs input:checked ~ .check-input .icon-tick {
    font-weight: 600;
	position: absolute;
	display: inline-block;
    top: 2px;
	left: 2px;
	color: #ffffff;
}

.addon-btn {
	position: absolute;
	right: 2.8px;
	top: 2.8px;
}

.btn-black {
	background-color: black;
	color: #ffffff;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active {
	background-color: #282828;
	color: #ffffff;
}

.btn-white {
	background-color: rgb(255, 255, 255);
	color: #363636;
	border: 1px solid #d8d8d8;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
	background-color: #282828;
	color: #ffffff;
	border: 1px solid #282828;
}

.btn-fb {
	background-color: #556080;
	color: #ffffff;
}
.btn-fb i{
	margin-right: 10px;
}
#brw-btn{
	display: none;
}

.btn-fb:hover,
.btn-fb:focus,
.btn-fb:active {
	background-color: #333c58;
	color: #ffffff;
}

.btn-outline-doted {
	background-color: transparent;
	color: #474457;
	border: 1px dashed #b9b9b9;
	border-radius: 5px;
}

.btn-outline-doted:hover,
.btn-outline-doted:focus,
.btn-outline-doted:active {
	background-color: #474457;
	color: #ffffff;
	border: 1px dashed transparent;
}

.btn-grey {
	background-color: rgb(214, 214, 214);
	color: #1f1f1f;
}
button#edit-task {
    position: absolute;
    left: -56px;

}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active {
	background-color: #282828;
	color: #ffffff;
}

.btn-prmary-blue {
	background-color: #198ccb;
	color: #ffffff;
}

.btn-prmary-blue:hover,
.btn-prmary-blue:focus,
.btn-prmary-blue:active {
	background-color: #0d6a9c;
	color: #ffffff;
}

.bx-inline-block {
	display: inline-block;
}

.add-fld-btn{
	float: right;
}
#container {
    max-width:400px;
   height:200px;
   margin: 0 auto;
   text-align:center;
}
.mainrow{
	
	position: absolute;
	left: 50%;
	margin-left: -50px;
}
i#edit-project {
    position: absolute;
    left: 299px;
	top: -26px;
	color: #b1b1b1;
}
.btn-link-grey {
	background-color: transparent;
	color: #b1b1b1;
}

.btn-link-grey:hover,
.btn-link-grey:focus,
.btn-link-grey:active {
	background-color: transparent;
	color: #3a3a3a;
}

.btn-link-vilot {
	background-color: transparent;
	color:#007bff
}

.btn-link-vilot:hover,
.btn-link-vilot:focus,
.btn-link-vilot:active {
	background-color: transparent;
	color: #5216a0;
}
.btn-link-yellow {
	background-color: transparent;
	color: #eabd56;
}

.btn-link-yellow:hover,
.btn-link-yellow:focus,
.btn-link-yellow:active {
	background-color: transparent;
	color: #de9d03;
}
.btn-link-red {
	background-color: transparent;
	color: #ef5553;
}

.btn-link-red:hover,
.btn-link-red:focus,
.btn-link-red:active {
	background-color: transparent;
	color: #f43333;
}
.btn-link-danger {
	background-color: transparent;
	color: #f05451;
}

.btn-link-danger:hover,
.btn-link-danger:focus,
.btn-link-danger:active {
	background-color: transparent;
	color: #d4201d;
}

.btn-vilot {
	background-color: #007bff;
	color: #ffffff;
}

.btn-vilot:hover,
.btn-vilot:focus,
.btn-vilot:active {
	background-color: #007bff;
	color: #ffffff;
}
.col-sm-12 {
    border-radius: 25px;
}
.btn-blue {
	background-color: #4067cc;
	color: #ffffff;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
	background-color: #103799;
	color: #ffffff;
}

.btn-absolute-bx {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}

.text-white {
	color: #ffffff;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #818488 !important;
}

.btn .btn-title {
	width: 100%;
	display: block;
	font-size: 10px;
	margin-top: .78rem;
	color: #555555;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.btn:hover .btn-title,
.btn:focus .btn-title,
.btn:active .btn-title {
	width: 100%;
	display: block;
	color: #5a5a5a;
}

.inline-bx {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 1rem;
}
.table-head{
	color:#9C9C9C;
}
.li-content
{padding:5px;
font-weight: 600}
.inline-bx-sm {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 1rem;
}

.bx-add {
	min-height: 300px;
	position: relative;
}


/* sidemenu */

body .sidemenu-bx {
	left: 0%;
	z-index: 999;
	/* background-color: #282828; */
	background-color: #ffffff;
	/* color: #747474; */
	color: #8a8a8a;
	min-height: 100vh;
	max-height: 100vh;
	max-width: 250px;
	position: fixed !important;
	overflow-y: auto;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.07);
}

body.open .sidemenu-bx {
	top: 0px;
	left: -100%;
	z-index: 999;
}

body .container-body {
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	padding-left: 290px;
	padding-bottom: 25px;
	padding-top: 2em;
	/* box-shadow: 0 0 5px 1px rgba(0,0,0,.07); */
}

body.open .container-body {
	padding-left: 1rem;
}


.btn-nav {
	background-color: transparent;
	border: 1px solid transparent;
	margin-right: 5px;
	min-height: 35px;
}

body.open .btn-nav>.btn-nav-item {
	background-color: rgb(141, 141, 141);
	position: relative;
	display: block;
	width: 18px;
	height: 2px;
	content: '';
}


body .btn-nav>.btn-nav-item {
	background-color: rgb(141, 141, 141);
	position: relative;
	display: block;
	width: 12px;
	height: 2px;
	content: '';
}

body.open .btn-nav>.btn-nav-item:nth-child(2) {
	display: block;
}

body.open .btn-nav>.btn-nav-item:first-child {
	transform: rotate(0deg);
	top: 0px;
}



.time-tacker-head h4 {    margin-top: 5px;}

.time-tacker-head .search-group { margin-bottom: 5px}

.time-tacker-head .search-group .input-control{
	min-width: 120px;
	height: 35px;
	margin-bottom: 0px;
}

.time-tracker-wrap h4 {    
	margin-top: 10px;
	font-size: 16px;
	margin-bottom: 20px;
}



.leave-status-li {
	font-size: 15px;
	margin-right: 15px;
	}
	
	.leave-status-li span {    
		width: 20px;
		display: inline-block;
		height: 20px;
		text-align: center;
		vertical-align: bottom;
		margin-left: 5px;
		border-radius: 2px;
		color: #fff;
		line-height: 19px;}

.leaves  span{ background: #cc0000;}

.half-day span { background: #bf9000;}

.Carry-Forward span {background: #085394;}

.Combo-Off span {background: #38761d;}

.daily-status-wrap {margin-top: 20px;margin-bottom: 15px;}

span.week {
    font-size: 18px;
    font-weight: 600;
}

.break,.logged-in,.Leave {font-size: 14px;display: inline-block;margin-right: 10px;}
.break span {width: 10px;height: 10px;border-radius: 100%;background: #f1c232;display: inline-block;vertical-align: middle;margin-right: 3px;}
.logged-in span {width: 10px;height: 10px;border-radius: 100%;background: #6aa84f;display: inline-block;vertical-align: middle;margin-right: 3px;}
.Leave span {width: 10px;height: 10px;border-radius: 100%;background: #cc0000;display: inline-block;vertical-align: middle;margin-right: 3px;}
.day-box {
    padding: 15px;
    background: #fff;
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
} 
.day-box h5 {display: inline-block;} 

.daily-time span{
    margin-right: 10px;
    display: inline-block;
    font-weight: 600;
}

.day-box .progress-bar {
	height: 10px;
	width: 100%;
	padding-top: 0px;
	background: gainsboro;
	margin-top: 10px;
	border-radius: 3px;
	}
  .day-box .progress-bar .progress {
	float: left;
	height: 100%;
	border-radius: 0px;
	margin: 0px;
	}
  .day-box .progress-bar .progress:after {
	color: white;
	content: '';
	line-height: 40px;
	text-align: right;
	position: absolute;
	right: 5px;
	}
  .day-box  .progress-bar .progress.primary {
	background: darkviolet;
  }
  .day-box  .progress-bar .progress.secondary {
	background: dodgerblue;
  }
  
  .progress-bar {
    display: block;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

.in-out { margin-top: 4px;}

span.overtime {
    color: #6aa84f;
}

.progress.in-before {
    background: #e9ecef;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.progress.in-time {
    background: #6aa84f !important;
}

.progress.break {
    background: #f1c232;
}

span.check-in-time {
    position: absolute;
    color: #020202;
    font-size: 14px;
    margin-top: 14px;
}
.color-value{
    line-height: 10px;
    vertical-align: middle;
    display: inline-block;
}
.day-leave {
    background: #cc0000;
    border-radius: 3px !important;
}

.time-tracker-wrap .day-box:last-child {border-top: 1px solid #d2d2d2;border-right: 1px solid #d2d2d2;border-left: 1px solid #d2d2d2;border-bottom: 1px solid #d2d2d2;}

.all-d-box {
    padding-left: 40px;
    text-align: left;
    padding-right: 20px;
    background: url(../image/time-tracker-ic.png);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position-x: -8px;
}

.all-d-box p{
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
}

.all-d-box h4{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 15px;
}

.leave-takes p {
    color: #bf9000;
}



.overtime {
    background-position-y: -42px;
}

.overtime p {
    color: #2b78e4;
}



.r-hours {
    background-position-y: -87px;
}

.r-hours p {
    color: #cf2a27;
}



.h-worked {
    background-position-y: -134px;
}

.h-worked p {
    color: #009e0f;
}



.delay-h {
    color: #bf9000;
}

.h-leave { color: #cf2a27;}

.createNewCustomer{
	margin-top: 10px;
	margin-bottom: 10px;
	color:white;
	background-color: orangered;
	font-size: 11px;
}
/* ul#myTab {
    width: 102%;
} */
ul#myTab {
    width: 102%;
    font-size: 17px;
    font-weight: 600;
    color: black !important;
    font-family: sans-serif;
    line-height: 24px;
}
@media(max-width: 760px) { 

	.leave-status-li {
		font-size: 15px;
		margin-right: 15px;
		display: block !important;
		margin-bottom: 10px;
	}

	.day-box .progress-bar {
		height: 10px;
		width: 100%;
		padding-top: 0px;
		background: gainsboro;
		margin-top: 50px;
		border-radius: 3px;
	}

	.all-d-box {
		display: block !important;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 400px) { 
	.day-box .progress-bar { 
		margin-top: 90px;
	}
	.chk-bx{
		float: left;
		width: 100%;
		margin-top: 10px;
	}
	.side-notif{
		left: -190px !important;
	}
}
@media only screen and (max-width: 345px){
	.side-notif{
		left: -5px !important;
	}
}


body.open .btn-nav>.btn-nav-item:last-child {
	transform: rotate(0deg);
	top: 0px;
}

.btn-nav>.btn-nav-item+.btn-nav-item {
	margin-top: 3px;
}

body .btn-nav>.btn-nav-item:nth-child(2) {
	display: none;
}

body .btn-nav>.btn-nav-item:first-child {
	transform: rotate(-45deg);
	top: -1px;
}

body .btn-nav>.btn-nav-item:last-child {
	transform: rotate(45deg);
	top: 1px;
}

@media(max-width: 850px) {
	body .container-body {
		padding-left: 1rem;
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
	}
	body .sidemenu-bx {
		top: 0px;
		left: -100%;
		z-index: 999;
	}
	body.open .container-body {
		padding-left: 1rem;
		-webkit-transform: translateX(245px);
		-ms-transform: translateX(245px);
		transform: translateX(245px);
	}
	body.open .sidemenu-bx {
		top: 0px;
		left: 0%;
		z-index: 999;
	}

	body .btn-nav>.btn-nav-item {
		background-color: rgb(141, 141, 141);
		position: relative;
		display: block;
		width: 18px;
		height: 2px;
		content: '';
	}
	
	body.open .btn-nav>.btn-nav-item {
		background-color: rgb(141, 141, 141);
		position: relative;
		display: block;
		width: 12px;
		height: 2px;
		content: '';
	}

	body .btn-nav>.btn-nav-item:nth-child(2) {
		display: block;
	}
	
	body .btn-nav>.btn-nav-item:first-child {
		transform: rotate(0deg);
		top: 0px;
	}
	
	body .btn-nav>.btn-nav-item:last-child {
		transform: rotate(0deg);
		top: 0px;
	}

	body.open .btn-nav>.btn-nav-item:nth-child(2) {
		display: none;
	}
	body.open .btn-nav>.btn-nav-item:first-child {
		transform: rotate(-45deg);
		top: -2px;
	}
	body.open .btn-nav>.btn-nav-item:last-child {
		transform: rotate(45deg);
		top: 1px;
	}
}
@media (min-width: 768px){

	.col-md-3 {
	flex: 0 0 25%;
	max-width: 27%;
	}
	}

@media(max-width: 767px) {
	body .container-body {
		padding-left: 1rem;
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
	}
	body .sidemenu-bx {
		top: 0px;
		left: -100%;
		z-index: 999;
	}
	body.open .container-body {
		padding-left: 1rem;
		-webkit-transform: translateX(245px);
		-ms-transform: translateX(245px);
		transform: translateX(245px);
	}
	body.open .sidemenu-bx {
		top: 0px;
		left: 0%;
		z-index: 999;
	}
	.margin-btom{
		margin-bottom: 15px;
	}
}

.menu-group {
	display: block;
	position: relative;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.submenu > .menu-group-item{
	cursor: pointer;
}

.submenu .summenu-items{
	background-color: #fff;
	color: #8a8a8a;
	display: none;
}

.submenu.open .summenu-items{
	display: block;
}

.submenu.open .icon-right-pos{
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
}

.submenu .summenu-items > .menu-group-item{
	color: #8a8a8a;
}

.submenu .summenu-items > .menu-group-item{
	color: #8a8a8a;
	border-color: 2px solid #007bff !important;
	padding-left: 60px;
}

.submenu.c-green .summenu-items > .menu-group-item:hover,
.submenu.c-green .summenu-items > .menu-group-item.active,
.submenu.c-green .summenu-items > .menu-group-item:active,
.submenu.c-green .summenu-items > .menu-group-item:focus{
	background-color: #42c986;
	border-color: transparent !important;
}

.submenu.c-vilot .summenu-items > .menu-group-item:hover,
.submenu.c-vilot .summenu-items > .menu-group-item.active,
.submenu.c-vilot .summenu-items > .menu-group-item:active,
.submenu.c-vilot .summenu-items > .menu-group-item:focus{
	background-color:#007bff;
	border-color: transparent !important;
}

.submenu.c-yellow .summenu-items > .menu-group-item:hover,
.submenu.c-yellow .summenu-items > .menu-group-item.active,
.submenu.c-yellow .summenu-items > .menu-group-item:active,
.submenu.c-yellow .summenu-items > .menu-group-item:focus{
	background-color: #d19405;
	border-color: transparent !important;
}

.submenu.c-orange .summenu-items > .menu-group-item:hover,
.submenu.c-orange .summenu-items > .menu-group-item.active,
.submenu.c-orange .summenu-items > .menu-group-item:active,
.submenu.c-orange .summenu-items > .menu-group-item:focus{
	background-color: #f05451;
	border-color: transparent !important;
}

.submenu.c-blue .summenu-items > .menu-group-item:hover,
.submenu.c-blue .summenu-items > .menu-group-item.active,
.submenu.c-blue .summenu-items > .menu-group-item:active,
.submenu.c-blue .summenu-items > .menu-group-item:focus{
	background-color: #e0e5e8;
	border-color: transparent !important;
}

.menu-group .menu-group-item.c-green .icon-bx {
	color: #42c986;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.menu-group .menu-group-item.c-vilot .icon-bx {
	color:#007bff;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.menu-group .menu-group-item.c-yellow .icon-bx {
	color: #d19405;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.menu-group .menu-group-item.c-orange .icon-bx {
	color: #f05451;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.menu-group .menu-group-item.c-blue .icon-bx {
	color: #2d88db;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.menu-group .menu-group-item.c-green:hover,
.menu-group .menu-group-item.c-green:focus,
.menu-group .menu-group-item.c-green:active,
.menu-group .menu-group-item.c-green:active,
.menu-group .submenu.open > .menu-group-item.c-green,
.menu-group .menu-group-item.c-green.active {
	border-color: #42c986;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.menu-group .menu-group-item.c-vilot:hover,
.menu-group .menu-group-item.c-vilot:focus,
.menu-group .menu-group-item.c-vilot:active,
.menu-group .submenu.open > .menu-group-item.c-vilot,
.menu-group .menu-group-item.c-vilot.active {
	border-color: #007bff;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.menu-group .menu-group-item.c-yellow:hover,
.menu-group .menu-group-item.c-yellow:focus,
.menu-group .menu-group-item.c-yellow:active,
.menu-group .submenu.open > .menu-group-item.c-yellow,
.menu-group .menu-group-item.c-yellow.active {
	border-color: #d19405;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.menu-group .menu-group-item.c-orange:hover,
.menu-group .menu-group-item.c-orange:focus,
.menu-group .menu-group-item.c-orange:active,
.menu-group .submenu.open > .menu-group-item.c-orange,
.menu-group .menu-group-item.c-orange.active {
	border-color: #f05451;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.menu-group .menu-group-item.c-blue:hover,
.menu-group .menu-group-item.c-blue:focus,
.menu-group .menu-group-item.c-blue:active,
.menu-group .submenu.open > .menu-group-item.c-blue,
.menu-group .menu-group-item.c-blue.active {
	border-color: #2d88db;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

.menu-group .menu-group-item {
	padding: 1rem 2rem;
	width: 100%;
	position: relative;
	display: block;
	color: #8a8a8a;
	font-weight: 500;
	border-left: 2px solid transparent;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
}

/* .menu-group .menu-group-item:hover, */
.menu-group .menu-group-item:focus,
.menu-group .menu-group-item:active,
.menu-group .menu-group-item.active,
.menu-group .submenu.open > .menu-group-item {
	border-left: 5px solid #007bff !important;
	color: #8a8a8a !important;
	text-decoration: none;
	background-color: #ffffff
	;
}

.menu-group .menu-group-item .icon-bx {
	margin-right: 1rem;
	display: inline-block;
	font-weight: 600;
	font-size: 1.2rem;
}

.text-green {
	color: #42c986;
}

.text-fb-blue {
	color: #465993;
}

.divider-menu {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.divider-menu .menu-group-item {
	color: #ffffff;
	font-weight: 500;
}

.divider-menu .menu-group-item:hover,
.divider-menu .menu-group-item:focus,
.divider-menu .menu-group-item:active {
	color: #f05451 !important;
}

.menu-title {
	padding: .5rem 2rem;
	padding-bottom: 0px;
	font-weight: 600;
}

.bx-content-item {
	margin-bottom: 1rem;
}

.bx-content-item .user-img-holder.yellow,
.user-img-holder.yellow {
	background-color: #de9e03;
	color: #ffffff;
}

.bx-content-item .user-img-holder.red,
.user-img-holder.red {
	background-color: #ef5553;
	color: #ffffff;
}

.bx-content-item .user-img-holder.green,
.user-img-holder.green {
	background-color: #4dc64f;
	color: #ffffff;
}

.bx-content-item .user-img-holder.blue,
.user-img-holder.blue {
	background-color: #2b87da;
	color: #ffffff;
}

.bx-content-item .user-img-holder.vilot,
.user-img-holder.vilot {
	background-color:#007bff;
	color: #ffffff;
}

.user-img-holder {
	width: 30px;
    height: 30px;
    font-size: .78rem;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
    padding: .65rem .5rem;
    text-align: center;
    background-color: #2d88db;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 5px;
}
.overview {
    padding-left: 20px;
    line-height: 2 !important;
}
span.test {
    font-size: 11px;
    margin-left: 5px;
}
li.project-details-user.text-muted.grid-column {
    display: grid;
    grid-template-columns: 300px 300px;
}
textarea.fullwidth.input-control {
    margin: 10px;
}
.comment-width {
    font-size: 80%;
    display: flex;
    width: 100%;
}
.text-danger {
    color: #dc3545!important;
    margin-left: 10px !important;
}
.chosen-container-multi .chosen-choices {
    border: 1px solid #dcdcdc;
    height: 40px;
    width: 100%;
    border-radius: 2px;
    padding: 0.5rem 0.75rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
}
input.chosen-search-input.default {
    border: none;
}
/* .col-sm-2.weekly-view {
	width:0px;
	padding: 0px;
}
.col-sm-2.monthly-view {
	width:0px;
	padding: 0px;
}
.col-sm-2.project-view {
	width:0px;
	padding: 0px;
} */
.chosen-container {
    display: inline-block;
    font-size: 14px;
    position: relative;
    width: 100% !important;
    vertical-align: middle;
}
.user-img-holder1{
	width: 20px !important;
	height: 20px !important;
	font-size: 10px !important;
	margin-right: 10px !important;
    line-height: 2 !important;
}
div#contractDocuments {
    margin-top: 20px;
    font-size: 11px;
} 
.project-details1{
	
	line-height: 1.8 !important;
}
.css-10nd86i {
    /* width: 146px; */
	font-size: 13px;
	width: 230px !important;
	/* display:inline-block */
}
.border-none{
	border-top: none !important;
	padding: 0px !important;
}
.thead-padding{
	padding: 0px !important;
}
input[type="checkbox"] {
    margin-right: 4px;
    margin-top: 4px;
}
.hover:hover{
	cursor: pointer !important;
}
.hover{
	cursor: pointer !important;
}



.user-img-holder+.user-img-holder {
	margin-left: -18px;
}

.divider-menu .menu-group-item .user-img-holder {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, .7);
    -ms-box-shadow: 0px 0px 7px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, .7);
}

.divider-menu .menu-group-item .user-img-holder:nth-child(2n+0) {
	background-color: #d19405;
}

.divider-menu .menu-group-item .user-img-holder:nth-child(3n+0) {
	background-color: #f05451;
}

.divider-menu .menu-group-item .user-img-holder:nth-child(4n+0) {
	background-color: #42c986;
}

.icon-right-pos {
	position: absolute;
	top: 50%;
	right: 30px;
	margin-top: -7px;
}

.divider-menu .menu-group-item .project-icon {
	background-color: #2d88db;
	position: relative;
	display: inline-block;
	padding: .5rem;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-right: 5px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
}

.project-divider .menu-group-item {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.divider-menu .menu-group-item:nth-child(2n+0) .project-icon {
	background-color: #d19405;
}

.divider-menu .menu-group-item:nth-child(3n+0) .project-icon {
	background-color: #f05451;
}

.divider-menu .menu-group-item:nth-child(4n+0) .project-icon {
	background-color: #42c986;
}

.project-details {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

.project-details-title,
.project-details-user {
	font-size: .9em;
	width: 100%;
	display: inline-block;
}

.project-details-title{
	margin-bottom: .3rem;
	font-size: 1rem !important
}

.project-details-user {
	font-size: .78em;
	color: #e2e2e2;
}

.project-options{
	position: absolute;
	/* top: 18px; */
	right: 10%;
}

.project-options1{
	position: absolute;
	top: 18px;
	right: 10%;
}
label.individual {
    margin-right: 10px;
}
input.individual-button {
    margin-right: 4px;
}
.text-allign {
    text-align: center!important;
    display: flex;
    align-items: center;
    /* margin-bottom: -6px; */
    padding-top: 16px;
}

/* sidemenu END */

.bx-content {
	background-color: #ffffff;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	margin-bottom: 1rem;
	overflow: hidden;
}

.bx-content .bx-content-header,
.bx-content .bx-content-body,
.bx-content .bx-content-footer {
	display: block;
	position: relative;
}

.dot-menu {
	display: inline-block;
	position: relative;
}

.dot-menu-item {
	display: block;
	position: relative;
	content: '';
	height: 3px;
	width: 3px;
	background-color: #747474;
	border-radius: 100%;
}

.dot-menu-item+.dot-menu-item {
	margin-top: .1em;
}

.dropmenu-cs {
	top: -31px !important;
	max-width: 150px;
}

.bx-content .bx-content-footer {
	border-top: 1px solid #d8d8d8;
}

.dropdown-item.btnicon {
	display: inline-block;
	width: 48%;
	clear: none;
	text-align: center;
	margin-top: -15px;
	margin-bottom: -15px;
}

.dropdown-item.btnicon+.dropdown-item.btnicon {
	border-left: 2px solid #007bff
}

.project-grid-row {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.project-grid {
	width: 100%;
	min-height: 250px;
}

.card-footer-cs {
	border-top: 1px solid transparent;
}

.table-cs {
	margin-bottom: 0px;
}

.table-cs .project-details-title {
	font-size: 1.2em !important;
	margin-bottom: .5em;
	color: #1f1f1f;
}

.table-cs .project-details-user {
	font-size: .9em !important;
	color: #818488;
}

.span-column {
	display: inline-block;
	margin-left: 2px;
	vertical-align: top;
}

.span-column .span-row {
	display: inline-block;
	width: 100%;
}

.table-cs.text-grey {
	color: #818488;
}

.table-cs.table-text-sm td {
	font-size: 90%;
}

.table-cs tr th {
	padding: .78em 1.5em;
	font-weight: 500;
	border-bottom: 1px solid #ece9e9;
}

.table-cs tfoot tr th {
	padding: .78em 1.5em;
	font-weight: 500;
	border-top: 1px solid #ece9e9;
	border-bottom: 1px solid transparent;
}

.table-cs tr td {
	padding: .78em 1.5em;
}

.text-info {
	color: #09c4e2!important;
}

table tr>td .user-img-holder,
.userList-search li .user-img-holder {
	width: 30px;
	height: 30px;
	font-size: .78rem;
	border-radius: 100%;
	vertical-align: middle;
	display: inline-block;
	padding: .65rem .5rem;
	text-align: center;
	background-color: #2d88db;
	color: #ffffff;
	text-transform: uppercase;
	margin-right: 3px;
}

table tr:nth-child(2n+0)>td .user-img-holder,
.userList-search li:nth-child(2n+0) .user-img-holder {
	background-color: #d19405;
}

table tr:nth-child(3n+0)>td .user-img-holder,
.userList-search li:nth-child(3n+0) .user-img-holder {
	background-color: #f05451;
}

table tr:nth-child(4n+0)>td .user-img-holder,
.userList-search li:nth-child(4n+0) .user-img-holder {
	background-color: #42c986;
}

.badge-outline-primary {
	border: 1px solid #2b87da;
	color: #2b87da;
	font-weight: 500;
	font-size: .78em;
}

.table-responsive-cs {
	min-width: 500px;
	overflow-y: scroll;
}

.breadcrumb {
	background-color: transparent;
	padding: 0px;
}
.setting-ul{
	padding-left: 20px;
}
.add-settings{
	border: 1px solid #ffffff;
	border-radius: 10px;
	padding: 20px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	min-width: 200px;
	width: 100%;
}
.add-settings:hover{
	background: #ffffff;
}
.plus-icon{
	background: #e15b4f;
	width: 62px;
	height: 62px;
	border-radius: 10px;
	font-size: 36px;
	line-height: 1.6;
}
.plus-icon i{
	font-size: 28px;
}
.setting-head{
	padding-left: 20px;
	margin-bottom: 20px;
}
.add-settings p{
	color: #000;
    margin-top: 15px;
    font-size: 14px;
}
.setting-ul li{
	margin: 0 15px 15px 0;
}
.setting-ul li:last-child{
	margin-right: inherit;
}

.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	font-family: 'hire' !important;
	padding-right: .5rem;
	color: #6c757d;
	content: "\e915";
}

.btn-radius-0 {
	border-radius: 0px !important;
}

.searchList-bx {
	background-color: #ffffff;
	min-height: 100vh;
	position: relative;
}

.userMail-grid-nav {
	background-color: #ffffff;
	padding: 1rem;
}

.search-input {
	background-color: #efefef;
	border: 1px solid transparent;
	width: 100%;
	height: 40px;
	padding: 1rem 1.5rem;
}

.searchList-bx-search,
.searchList-bx-result {
	position: relative;
	display: block;
	border-bottom: 1px solid #e2e2e2;
}

.search-grid {
	display: grid;
	grid-template-columns: 300px auto;
	width: 100%;
}

.userList-search {
	position: relative;
	display: block;
}

.userList-search-list,.hover {
	list-style: none;
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
}

.userList-search-list li {
	padding: 1rem 1.5rem;
	cursor: pointer;
	background-color: transparent;
	border-right: 5px solid transparent;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
}

.userList-search-list li:hover,
.userList-search-list li.active {
	background-color: #efefef;
	border-right: 2px solid #007bff
}

.userList-search-list li+li {
	border-top: 1px solid #e6e6e6;
}

.userList-search-list li .project-details-title {
	font-size: 1rem !important;
}

.userList-search-list li .project-details {
	max-width: 200px;
}

.searchList-bx-result {
	background-color: #efefef;
	padding: .5rem 1.5rem;
	font-size: 80%;
	color: #8c8c8c;
}

.search-addon {
	position: absolute;
	top: 5px;
	right: 5px;
}

.search-addon .btn {
	font-weight: 600 !important;
}

.icon-holder {
	border: 1px solid #8a8a8a;
	height: 30px;
	width: 30px;
	display: inline-block;
	padding: .58rem;
	border-radius: 100%;
	color: #8a8a8a;
	margin-right: 3px;
}

.userMail-grid-tab {
	background-color: #ffffff;
	border-top: 1px solid #d8d8d8;
}

.nav-tabs .nav-link {
	color: #8a8a8a;
	border: none;
	border-bottom: 2px solid transparent;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 1.5rem 1.5rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
	color: #5771d2;
	border: none;
	border-bottom: 2px solid #5771d2;
}

.userMail-grid-nav .project-details-title {
	font-size: .9em;
	width: 100%;
	display: inline-block;
}

.userMail-tab {
	padding: 1rem 1.5rem;
}

.ul-list {
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.grid-list li {
	display: grid;
	grid-template-columns: 30px auto;
	margin-bottom: 1em;
}

.switch {
	position: relative;
	display: inline-block;
	width: 43px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #5771d2;
}

input:checked+.slider:before {
	-webkit-transform: translateX(23px);
	-ms-transform: translateX(23px);
	transform: translateX(23px);
}

.userMail-grid-tabbx {
    display: block;
    position: relative;
    width: 100%;
}

/* Rounded sliders */

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.grid-contract,
.grid-contract .grid-contract-head,
.grid-contract-body {
	display: block;
	position: relative;
}

.grid-contract-body {
	border-top: 1px solid #d2d2d2;
}

.grid-contract .grid-contract-head.grid-bx {
	display: grid;
	position: relative;
	grid-template-columns: 45px auto;
}

.bg-body-theme {
	background-color: #efefef;
}

.grid-3 {
	grid-template-columns: auto auto auto;
}

.searchList-grid-menu {
	position: absolute;
	z-index: 100;
	right: -35px;
	height: 40px;
	display: none;
}

.searchList-icon {
	position: relative;
	display: inline-block;
	min-width: 14px;
}

.searchList-bx .searchList-icon .icon-line:first-child {
	height: 10px;
	width: 10px;
	border: 1.5px solid #ffffff;
	border-radius: 100%;
	content: '';
	display: inline-block;
}

.searchList-bx .searchList-icon .icon-line:last-child {
	height: 6px;
	width: 2px;
	background-color: #ffffff;
	content: '';
	display: inline-block;
	transform: rotate(-56deg);
	-webkit-transform: rotate(-56deg);
	-webkit-transform: rotate(-56deg);
	-webkit-transform: rotate(-56deg);
	top: 2px;
	position: relative;
	left: -4px;
}

.searchList-bx.active .searchList-icon .icon-line:first-child {
	height: 14px;
	width: 2px;
	background-color: #ffffff;
	content: '';
	display: inline-block;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-webkit-transform: rotate(45deg);
	top: 2px;
	position: relative;
	left: 2px;
	border-radius: 0px;
	border: none;
}

.searchList-bx.active .searchList-icon .icon-line:last-child {
	height: 14px;
	width: 2px;
	background-color: #ffffff;
	content: '';
	display: inline-block;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	top: 2px;
	position: relative;
	left: -3px;
}

.alert-bx{
	border-radius: 4px;
	background-color: #eaeaea;
	padding: .78rem;
	margin-bottom: .78em;
}

.error-alert{
	color: #f05451;
	border-left: 3px solid #f05451;
}

.alert-warning-yellow {
    background-color: #df9e04;
    color: #ffffff;
}

.alert-warning-yellow .alert-icon{
	color: #855e03;
	vertical-align: middle; 
	margin-right: 5px;
}

.alert-warning-green {
    background-color: #4cc64f;
    color: #fff;
}

.alert-warning-green .alert-icon{
	color: #207622;
	vertical-align: middle; 
	margin-right: 5px;
}

/*.modal-content {
	background-color: #eaeaea;
	border: 1px solid rgba(0,0,0,0);
}*/

.modal-header .btn {
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 100%;
    font-size: 1.5em;
    padding: .6rem;
    width: 30px;
    height: 30px;
}

.modal-header .btn span{
    line-height: 1px;
    top: -7px;
    position: relative;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color:  #000;
}

.modal-backdrop.show {
    opacity: .5;
}

.departments {
    display: block;
    position: relative;
    margin-bottom: 1.5rem;
	padding: 1.5rem;
	border-radius: 5px;
}

.bx-shadow{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	-ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.img-avatar-depart{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	max-width: 90px;
}

.tabbx{
	width: 100%;
}

.img-upload{
	border: 1px solid #dedede;
}

.nav-tabs .nav-link.active .icon-reg{
	display: none;
}

.nav-tabs .nav-link .icon-reg{
	display: inline-block;
	color: #5771d2;
}

.border-bold{
	border-width: 3px !important;
}

.grid-comment-container{
	display: block;
	position: relative;
	line-height: 1;
}

.grid-comment-container > .grid-comments{
	display: grid;
	position: relative;
	grid-template-columns: 40px auto;
	padding: .5rem 1rem;
	padding-top: 1rem;
	border-top: 1px solid #dedede;
}

.grid-comment-container > .grid-comments p{
	margin-bottom: .5em;
}

.date-row{
	font-size: 8px;
	color: #9e9e9e;
	float: right;
}

.holder-lg {
    width: 30px;
    height: 30px;
    padding: .78rem .2rem;
	font-size: 10px;
	text-align: center;
}

.btn.rounded-circle{
	border-radius: 30px !important;
}

.grid-comments-options{
	display: grid;
	grid-template-columns: 40px auto 80px;
	padding: .78rem 1rem;
	background-color: #f0f0f0;
	border-top: 1px solid #dedede;
}

.grid-comments-options > div > img{
	max-width: 30px;
}

.comment-input{
	background-color: transparent;
	border: 1px solid transparent;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	resize: none;
	width: 100%;
}

.icon-circle {
    width: 12px;
    height: 12px;
    content: '';
    background-color: #c3c3c3;
    border-radius: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	font-size: .78rem;
}

.icon-circle.green{
background-color: #45b431;
}

.icon-circle.red{
background-color: #e25151;
}

.icon-circle.blue{
background-color: #2b87da;
}

.fc-label-inline{
	display: inline-block;
	position: relative;
}

.fc-label-inline+.fc-label-inline{
	margin-left: 12px;
}

.fc th.fc-widget-header{
	text-align: left !important;
	padding: 5px !important;
	color: #7e7e7e !important;
	font-weight: 600 !important;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
	float: left !important;
}

.fc td{
	padding: 3px !important;
}

.fc-header-toolbar{
	position: fixed;
    top: 105px;
    right: 15px;
}

.fc-right-calendar{
	text-align: right;
}

select.fc-state-default{
	height: 27.3px;
	padding: 0px 7px;
}

button.fc-state-default{
	height: 27.3px;
	padding: 0px 7px;
}

.calendar-grid{
	display: block;
	position: relative;
	padding: 0px 1.5rem;
	padding-right: 280px;
}

.calendar-label-grid{
	position: absolute;
	display: block;
	width: 100%;
	max-width: 250px;
	top: 0px;
	right: 0px;
	height: 100%;
}

.table-modal tr td{
	vertical-align: middle;
}

.bookmark-cs {
    position: relative;
    overflow: hidden;
}

.bookmark-cs label{
	margin-bottom: 0px;
}

.bookmark-cs .check-iconbx{
	cursor: pointer;
}

.bookmark-cs input[type="checkbox"]:checked ~ .check-iconbx i:first-child,
.bookmark-cs input[type="checkbox"] ~ .check-iconbx i:last-child{
	display: inline-block;
}
.bookmark-cs input[type="checkbox"]:checked ~ .check-iconbx i:last-child,
.bookmark-cs input[type="checkbox"] ~ .check-iconbx i:first-child{
	display: none;
}

.bookmark-cs input[type="checkbox"]{
    position: absolute;
	display: inline-block;
	height: 100%;
	width: 100%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
}

.input-group-text{
	border-radius: 2px;
}

.table-modal-cons tr td{
	padding: 3px;
}
.btn-edit-abs{
	position: absolute;
    right: 15px;
	top: 0px;
	z-index: 100;
}

/* new-changes */

.c-logo {
	max-width: 145px;
}

.c-logo img {     
	border: 1px solid #d3d3d3;
	width: 100%;
}



.company-info h4 {    
	font-size: 18px;
	margin-top: 3px;
	margin-bottom: 10px;
}


.company-info p {color:#333333;margin-bottom: 6px;}

.company-info p  span {color: #198ccb;font-weight: 600;}

.company-info p img {
	margin-top: -3px;
	margin-right: 5px;
}

.company-links {
	padding-top: 10px;
    margin-top: 15px;
	border-top: 1px solid #d3d3d3;
}
.soc-list{
	float: right;
}
.links-info {
	color: #333333;
	font-size: 14px;
	padding-right: 20px;
	font-weight: 400;
}


.links-info  img{
	margin-right: 10px;
	margin-top: -1px;
	width: 18px;
}

.company-links ul {
	list-style: none;
	margin-right: 10px;
	padding-left: 0px;
	margin-bottom: 0px;
	margin-top: 3px;
}

.company-links li {
    display: inline-block;
    cursor: pointer;
    margin-right: 7px;
}

.org-bx {
    border-right: 1px solid #d6dbe4;
}

.org-bx h4 {
    margin-bottom: 0px;
    padding: 10px 20px;
    border: 1px solid #d6dbe4;
    border-left: 0px;
    border-right: 0px;
    text-transform: uppercase;
    font-size: 16px;
    background: #f1f1f1;
}

.back,.back2{
	/*height: 40px;
	width: 40px;
	border-radius: 50%;
	border:1px solid #000;
	line-height: 2.5;
	float: left;*/
	margin-right: 10px;
	font-size: 14px;
	cursor: pointer;
	display: none;
}

.branch-search input {
	height: 45px;
	width: 100%;
	border: 0px;
	border-bottom: 1px solid #d6dbe4;
	font-size: 16px;
	padding: 0 50px 0 20px;
}

.branch-search { position: relative;}

.branch-search  button {    
	position: absolute;
    right: 5px;
    background: no-repeat;
    border: 0px;
    top: 10px;
    cursor: pointer;}


.braches {padding: 15px;background: #fff;border-bottom: 1px solid #d6dbe4;position: relative;cursor: pointer;}

.branches-ic {
    width: 64px;
    height: 64px;
    line-height: 59px;
    text-align: center;
    border-radius: 50%;
    }
	
.braches h4 {
    border: 0px;
    font-size: 15px;
    text-transform: none;
    color: #333333;
    padding: 0px;
    padding-bottom: 4px;
    background: none;
}

.braches h4  span {
    color: #198ccb;
}

.braches p {
    color: #858585;
    margin-bottom: 4px;
    font-size: 14px;
}

.braches h5 {
    color: #ef5553;
    font-size: 14px;
    font-weight: 500;
}

.braches-txt {
    padding-left: 15px;
}

.braches h5 img {    margin-top: -1px;
	margin-right: 5px;}
	
	.branches {
		background: #fff;
		min-height: -webkit-fill-available;
	}	

	.braches:nth-child(3n+0)  .branches-ic { background: #de9e03;}
	.braches:nth-child(3n+1)  .branches-ic { background: #198ccb;}
	.braches:nth-child(3n+2)  .branches-ic { background: #ef5553;}
.i-icon{
	display: table;
	margin: 0 auto;
	width: 40px;
	height: 40px;
	border: 2px solid #1b8dcc;
	border-radius: 50%;
	text-align: center;
	line-height: 2;
	color: #1b8dcc;
	font-size: 18px;
}	
.n-branch{
	background: inherit;
}
.no-branch{
	background: #f8f8f8;
	border: 1px solid #dfdfdf;
	margin: 15px;
	padding: 30px 0;
}
.no-branch p{
	text-align: center;
	margin-top: 15px;
}
.address-box {
	padding: 17px;
	background: #ccd7ec;
	border: 1px solid #d6dbe4;
	}
	
.address-box h4 {
    font-size: 16px;
    color: #20345b;
    font-weight: 500;
    margin-bottom: 10px;
    background: none;
    border: 0px;
    padding: 0px;
    text-transform: none;
}

.address-box h4 b {
	font-weight: 600;
}

.address-box p {
    font-size: 14px;
    color: #35435f;
}

.address-box ul {
    padding: 0px;
    list-style: none;
    padding-top: 10px;
    border-top: 1px solid #a7b8da;
}

.address-box ul li{
    display: inline-block;
    padding: 0px 10px;
}

.positions {
	padding: 10px 15px;
	background: #fff;
	border-bottom: 1px solid #d6dbe4;
	cursor: pointer;
	position: relative;
	}


.member-ic {
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	line-height: 31px;
	font-size: 18px;
	color: #fff;
	margin-right: 10px;
	font-weight: lighter;
	background: #e4b134;
	}
	
.positions-name {
    font-size: 15px;
    padding-top: 3px;
}	


.company-details {
	
min-height: -webkit-fill-available;
	
background: #fff;
}

.count-positions {margin-top: 5px;color: #333333;font-size: 14px;margin-right: 20px;}


.positions:nth-child(5n+0)  .member-ic { background: #de9e03;}
.positions:nth-child(5n+1)  .member-ic { background: #198ccb;}
.positions:nth-child(5n+2)  .member-ic { background: #ef5553;}
.positions:nth-child(5n+4)  .member-ic { background: #4cc64f;}
.positions:nth-child(5n+5)  .member-ic { background: #7d3bd0;}

.member-counts {    color: #6d6d6d;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
}

.members {
	padding: 15px 15px;
	position: relative;
    border-bottom: 1px solid #d6dbe4;
}


.members-ic-2x {
    width: 48px;
    height: 48px;
    text-align: center;
    background: #de9e03;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
    float: left;
}

 /*.memeber-name {    font-size: 16px;
    font-weight: 600;
    margin-top: 2px;}*/
.clear-fix{
	clear: both;
}
.member-popup{
	position: absolute;
	bottom: 50px;
	left: -100px;
	background: #f2f2f2;
	max-width: 440px;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
	border-radius: 5px;
	display: none;
	z-index: 100;
}
.member-pro{
	margin-left: 15px;
}
.member-pro p{
	font-weight: 400;
}
.memeber-name:hover > .member-popup {
	display: block !important;
}
.member-section{
	padding: 11px 14px;
	border-bottom: 1px solid #d3d3d3;
}
.member-section:last-child{
	border-bottom: inherit;
}
.no-pad{
	padding: 0;
}
.con-mar{
	margin-bottom: 10px;
}
.member-section a{
	color: #198ccb;
	text-transform: capitalize;
	font-weight: 400;
}
.member-section a  span{
	color: #df9e06;
}
.member-section a i{
	font-size: 10px;
}
.d-block{
	display: block;
}
.d-none{
	display: none;
}
	.memeber-name {
		font-size: 15px;
		font-weight: 600;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.skills {
		color: #198ccb;
		padding: 1px 9px;
		border: 1px solid;
		border-radius: 16px;
		font-size: 11px;
	}

	.org-bx.team-memeber-lists {
		background: #fff;
		min-height: -webkit-fill-available;
	}

.more-icon {
    margin-top: -16px;
}

.more-icon svg{
    margin: 6px;
    cursor: pointer;
}

.more-icon svg path{fill: #818181;}


.members:nth-child(5n+0)  .members-ic-2x { background: #de9e03;}
.members:nth-child(5n+1)  .members-ic-2x { background: #198ccb;}
.members:nth-child(5n+2)  .members-ic-2x { background: #ef5553;}
.members:nth-child(5n+4)  .members-ic-2x { background: #4cc64f;}
.members:nth-child(5n+5)  .members-ic-2x { background: #7d3bd0;}


.tooltip-wrap {
    position: relative;
}

.tooltip-d {
    display: none;
    position: absolute;
    right: -10px;
    top: -57px;
    background: #f2f2f2;
    padding: 6px 15px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 2px 17px 0px #d6d6d6;
    min-width: 200px;
}

.tooltip-d::before {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f2f2f2;
	bottom: -10px;
	right: 16px;
	z-index: 1;
	}
	.tooltip-d::after {
		content: '';
		position: absolute;
		width: 0px;
		height: 0px;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 10px solid #d9d9d9;
		bottom: -11px;
		right: 14px;
		z-index: 0;
		}

		.tooltip-wrap:hover .tooltip-d  {  display: block ; }

		.more-icon svg:hover path { fill: #ef5553}

.braches::after {
	content: '';
	position: absolute;
	border: solid #a9a9a9;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 10px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 20px;
	top: 37%;
	}

.positions::after {
	content: '';
	position: absolute;
	border: solid #a9a9a9;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 5px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 14px;
	top: 40%;
	}

.braches.active  {border-left: 2px solid #007bff
	
	;background: #f2f2f2;}

.braches.active::after { border-color: #de9e03;}

.positions.active {
    background: #f2f2f2;
    border-left: 2px solid #007bff
}


.positions.active::after {
	border-color:  2px solid #007bff
}

/* new-changes */

@media only screen and (max-width:1400px){
	.count-positions{
		float: none !important;
		margin: 0 0 0 44px;
		/* min-height:100vh;
		max-height: 100vh; */
	}
}
@media(min-width: 1367px){
	.loginbx{
		max-width: 800px;
		-ms-flex: 0 0 800px;
		flex: 0 0 800px;
	}
}

@media(min-width: 1101px){
	
.project-grid-row {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}
}
@media only screen and (max-width:1292px){
	.soc-list{
		float: none;
		margin-top: 10px;
		width: 100%;
	}
}
/* @media only screen and (max-width:1208px){
	.table-scroll {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}
}
@media only screen and (min-width: 1209px) and (max-width: 2797px) {
	.table-scroll {
	
		overflow-x: auto;
		white-space: nowrap;
	}
} */
@media only screen and (max-width:1253px){
	.add-fld-btn{
		float: left;
	}
}
@media only screen and (max-width:1142px){
	.links-info{
		margin-bottom: 10px;
	}
	.ols2{
		min-height: 360px !important;
	}
}
@media only screen and (max-width:991px){
	.hidden-md{
		display: none;
	}
	.member-popup{
		left: 0;
	}
	.back,.back2{
		display: inline-block;
	}
	.ols2{
		min-height: inherit !important;
		border-right: inherit !important;
		border-bottom: 1px solid #fff;
	}
}
@media(max-width: 574px) {
	.col-sm-2.weekly-view{
		margin-right: 76px;
		width:0px;
	}
	.col-sm-2.monthly-view{
		margin-right: 76px;
		width:0px;
	}
	.col-sm-2.project-view{
		width:0px;
	}
	.col-sm-6.previous{
		margin-top: 10px;
	}
}
@media only screen and (min-width: 575px) and (max-width: 717px) {
	.col-sm-2.weekly-view{
		margin-right: 26px;
	}
	.col-sm-2.monthly-view{
		margin-right: 26px;
	}
	.col-sm-6.previous{
		margin-top: 10px;
	}
}

@media only screen and (min-width: 851px) and (max-width: 1100px) {
	.project-grid-row {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
	}
	.col-sm-2.weekly-view{
		margin-right: 26px;
	}
	.col-sm-2.monthly-view{
		margin-right: 26px;
	}
	.col-sm-6.previous{
		margin-top: 10px;
	}
	.responsive-grid-4{
		flex: 100%;
		max-width: 100%;
	}

	.project-grid {
		width: 100%;
	}

	.grid-3 {
		grid-template-columns: auto auto;
	}

	.search-grid {
		display: grid;
		grid-template-columns: auto;
		width: 100%;
	}

	.searchList-bx {
		width: 300px;
		background-color: #efefef;
		font-size: 80%;
		color: #8c8c8c;
		position: fixed;
		left: -100%;
	}

	.searchList-bx.active {
		width: 300px;
		background-color: #ffffff;
		font-size: 80%;
		color: #8c8c8c;
		position: fixed;
		left: 250px;
		top: 0px;
		z-index: 100;
		box-shadow: 0px 0px 13px rgba(0, 0, 0, .3);
		-webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, .3);
		-ms-box-shadow: 0px 0px 13px rgba(0, 0, 0, .3);
		-moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, .3);
	}

	.userList-search{
		overflow: hidden;
		overflow-y: auto;
		max-height: 85vh;
	}

	.searchList-grid-menu {
		position: fixed;
		z-index: 100;
		right: initial;
		height: 40px;
		left: 250px;
		display: inline-block;
	}

	.searchList-bx.active .searchList-grid-menu {
		position: absolute;
		z-index: 100;
		right: -35px;
		left: initial;
		height: 40px;
		display: inline-block;
	}

	.loginbx{
		max-width: 80%;
		-ms-flex: 0 0 70%;
    	flex: 0 0 70%;
	}

	.grid-responsive{
		max-width: 80%;
		-ms-flex: 0 0 70%;
    	flex: 0 0 70%;
	}
	.date-row{
		font-size: 8px;
		color: #9e9e9e;
		float: initial;
		width: 100%;
		margin-top: .5rem;
		display: inline-block
	}

	.calendar-grid{
		display: block;
		position: relative;
		padding: 0px 1.5rem;
		padding-right: 250px;
	}
	
	.calendar-label-grid{
		position: absolute;
		display: block;
		width: 100%;
		max-width: 230px;
		top: 0px;
		right: 0px;
		height: 100%;
	}
}

@media(max-width: 850px) {

	.search-grid {
		display: grid;
		grid-template-columns: auto;
		width: 100%;
	}

	.grid-responsive{
		max-width: 80%;
		-ms-flex: 0 0 70%;
    	flex: 0 0 70%;
	}

	.responsive-grid-4{
		flex: 100%;
		max-width: 100%;
	}
	
	.searchList-bx {
		width: 300px;
		background-color: #efefef;
		font-size: 80%;
		color: #8c8c8c;
		position: fixed;
		left: -100%;
	}

	.searchList-bx.active {
		width: 300px;
		background-color: #ffffff;
		font-size: 80%;
		color: #8c8c8c;
		position: fixed;
		left: 0px;
		top: 0px;
		z-index: 100;
		height: 100%;
		box-shadow: 0px 0px 13px rgba(0, 0, 0, .3);
		-webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, .3);
		-ms-box-shadow: 0px 0px 13px rgba(0, 0, 0, .3);
		-moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, .3);
	}

	.userList-search{
		overflow: hidden;
		overflow-y: auto;
		max-height: 85vh;
	}

	.searchList-grid-menu {
		position: fixed;
		z-index: 100;
		right: initial;
		height: 40px;
		left: 0px;
		display: inline-block;
		margin-top: -22px;
	}

	.searchList-bx.active .searchList-grid-menu {
		position: absolute;
		z-index: 100;
		right: -35px;
		left: initial;
		height: 40px;
		display: inline-block;
		margin-top: 0px;
	}
	.project-grid-row {
		display: grid;
		grid-template-columns: auto auto;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
	}
	.project-grid {
		width: 100%;
	}
	
	.save-btn {
		border: none !important;
	}
	.table-cs tr th {
		padding: .78em 1.5em;
		font-weight: 500;
		border-bottom: 1px solid #d2d2d2;
		display: none;
	}
	.table-cs tfoot tr th {
		padding: .78em 1.5em;
		font-weight: 500;
		border-top: 1px solid #d2d2d2;
		border-bottom: 1px solid transparent;
		display: block;
	}
	.table-cs tbody tr {
		display: block;
		position: relative;
	}
	.table-cs tr td {
		padding: .78em 1.5em;
		display: block;
		position: relative;
	}
	.table-cs tr td::before {
		content: attr(data-title);
		font-weight: 700;
		margin-right: 5px;
		display: block;
		color: #1d1d1d;
		margin-bottom: 3px;
	}
	.grid-3 {
		grid-template-columns: auto auto;
	}

	.loginbx{
		max-width: 80%;
		-ms-flex: 0 0 70%;
    	flex: 0 0 70%;
	}

	.date-row{
		font-size: 8px;
		color: #9e9e9e;
		float: initial;
		width: 100%;
		margin-top: .5rem;
		display: inline-block
	}
	
	.fc-header-toolbar{
		position: relative;
		top: 0px;
		right: 0px;
	}

	.calendar-responsive{
		float: initial;
		width: 100%;
		text-align: left;
		margin-top: 7px;
	}

	.calendar-responsive .fc-right-calendar {
    	text-align: left;
	}
}


@media(max-width: 767px){
	.calendar-grid{
		display: block;
		position: relative;
		padding: 0px 1.5rem;
		padding-right: 1.5rem;
	}
	
	.calendar-label-grid{
		position: relative;
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 1.5rem;
		top: 0px;
		right: 0px;
		height: 100%;
	}
}

@media(max-width: 500px) {
	.project-grid-row {
		display: grid;
		grid-template-columns: auto;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
	}
	.project-grid {
		width: 100%;
	}
	.grid-3 {
		grid-template-columns: auto;
	}

	.loginbx{
		max-width: 90%;
		-ms-flex: 0 0 90%;
    	flex: 0 0 90%;
	}
	
	.grid-responsive{
		max-width: 100%;
		-ms-flex: 0 0 100%;
    	flex: 0 0 100%;
	}
}
@media only screen and (max-width: 320px){
	.col-sm-4.time-log {
		width: 101px;
		margin-top: 10px;
		margin-right: 11px;
	}
	.col-sm-4.calendar-view {
		width: 101px;
		margin-top: 10px;
	}
}
@media only screen and (max-width: 420px){
	.dis-flx{
		display: block;
	}
	.col-sm-4.back-btn {
		width: 101px !important;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 700px){
	.emp-pad{
		padding-left: 15px !important;
	}
	.emp-img{
		max-width: inherit !important;
		position: relative !important;
	}
}
@media only screen and (min-width: 576px){
	.col-sm-4.back-btn {
		width: 137px;
		/* margin-top: 10px; */
	}
}
@media only screen and (max-width: 575px){
	.col-sm-4.time-log {
		width: 101px;
		margin-top: 10px;
		margin-right: 11px;
	}
	.col-sm-6.time-entry {
		padding: 0px !important;
		/* width: 0px; */
		margin-top: 10px;
	}
	.col-sm-4.calendar-view {
		width: 101px;
		margin-top: 10px;
	}
	.col-sm-4.back-btn {
		width: 164px;
		margin-top: 10px;
	}
	.u-br-icon {
		position: relative !important;
	}
	.update-ul{
		padding-left: inherit !important;
	}
}
.btn-active{
	background: #e6e6e6;
	border-radius: 25px;
}
.skill-dp{
	border: 1px solid #333;
	padding: 5px;
	margin-bottom: 10px;
	display: table;
	border-radius: 5px;
}
.employee-rgt .userMail-grid-nav{
	min-height: 138px;
}
.emp-img{
	max-width: 176px;
	position: absolute;
	top: 0;
	left: 0;
}
.emp-pad{
	padding-left: 191px;
}
.desg-detail h6,.brd-top{
	border-top: 1px solid #e2e2e2;
}
.tbody tr:nth-child(even) {
	background-color: #f1f1f1;
}
.status{
	border:1px solid #cccccc;
	border-radius: 25px;
	max-width: 150px;
	padding: 4px 0;
}
.status i{
	color: #4282c9;
}
.stat-accep i{
	color: #42c986;
}
.tbody td{
	vertical-align: inherit;
	color: #5c5c5c;
}
.table-wd{
	min-width: 600px;
}
.table-wd th{
	font-size: 14px;
}
.edit:hover{
	color: #000;
	cursor: pointer;
}
.dlt:hover{
	color: #f05451;
	cursor: pointer;
}
.leave-list{
	max-width: 900px;
}
.ols{
	background: #198ccb;
	padding: 20px 0;
	min-height: 150px;
}
.ols2{
	padding: 20px 0;
	border-right: 1px solid #fff;
	min-height: 300px;
}
.df-mails{
	background: #ef5553;
}
.br-0{
	border-right: inherit;
}
.cs-leave{
	background: #42c986;
}
.ols2 p{
	padding: 0 20px;
}
.ols h5,.ols2 h5{
	border-bottom: 1px solid #fff;
	display: table;
	margin: 0 auto;
    margin-bottom: 0px;
	padding-bottom: 8px;
	margin-bottom: 20px;
}
.cnt-lev{
	display: none;
}
.soc-icon-lt{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
.inp-padding{
	padding-left: 43px;
}
.up-branch-icon{
	background: #198ccb;
}
.u-br-icon{
	position: absolute;
	top: 0;
	left: 0;
}
.update-ul{
	padding-left: 65px;
	min-height: 65px;
	padding-bottom: 35px;
}
.brd-btm-col{
	border-bottom: 1px solid #ccc;
}
.dept-updt{
	padding: inherit;
	line-height: 2.8;
}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
#bg {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
  }
  #bg img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
  }
.bgimg-1 {
    /* position: relative; */
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	background-image:url('../image/pagenotfound.jpg')
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.pro-g{
	min-height: inherit;
}
.up-org-opt{
	top: 5px;
	right: 5px;
	z-index: 100;
}
.emp-img-inf{
	width: 258px;
	height: 258px;
	overflow: hidden;
}
.pro-color{
	color: #8e8e8e;
}
.clnt-prof{
	max-width: 700px;
	margin-top: 25px !important;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.pro-a-list i{
	color: #00aff0;
	font-size: 18px;
}
.pro-a-list:hover{
	color: #000;
}
.pro-hd-col{
	color: #b7b7b7;
}
.pro-hd-col span{
	width: 100%;
	height: 1px;
	background: #b7b7b7;
	float: left;
	margin-top: 9px; 
}
.pro-hd-col::before{
	content: "OTHER DETAILS";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	padding-right:10px;
	background: #fff; 
}
.pro-hd-col2::before{
	content: "ADDRESS";
}
.pro-hd-col3::before{
	content: "CONTACT PERSONS";
}
.pro-hd-col4::before{
	content: "REMARKS";
}
.fb-color{
	color: #3b5998;
}
.twt-color{
	color: #55acee;
}
.skype-color{
	color: #00aff0;
}
.pad-4{
	padding-top: 24px;
}
@media only screen and (max-width: 600px){
	.emp-prm-info ul{
		width: 100%;
		margin-top: 20px;
		padding: inherit;
	}
	.time-period{
		float: left !important;
		width: 100%;
		margin-top: 10px;
	}
}
.proj-cir{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #bebebe;
}
.proj-cir2{
	background: #2b87da;
}
.projt-list{
	background: #282828;
	border-radius: 5px;
}
.asg-col{
	color: #2b87da;
}
.proj1{
	border-radius: 5px;
}
.proj1-bot{
	border-top: 1px solid #d7dbe4;
}
.proj1-bot button{
	max-width: 100px;
	border-radius: 5px;
	background: #2b87da;
	color: #fff;
	border: 1px solid #2b87da;
	cursor: pointer;
}
.but-color{
	background: #ef5553 !important;
	border: 1px solid #ef5553 !important;
}
.proj1-bot2{
	margin: 0 auto;
	border: inherit;
	max-width: 100px;
}
.proj1-bg{
	background: linear-gradient(141deg, #7d3bd0 , #7100fe);
}
.proj1-bot2 button{
	background: #fff;
	color: #7100fe;
	border: 1px solid #fff;
}
.custom-nav {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
}
.custom-nav .owl-prev,.custom-nav .owl-next {
	position: absolute;
	height: 100px;
	color: inherit;
	background: none;
	border: none;
	z-index: 100;
}
.custom-nav .owl-prev {
	left: 0 !important;
}
.custom-nav .owl-next {
	right: 0 !important;
}
.dash-body{
	flex: inherit;
	width: 100%;
}
.projt-list .owl-theme{
	display: none;
}
.projt-list:hover .owl-theme{
	display: block;
}
.pro-bar-box{
	border: 1px solid #d2d2d2;
	background: #eeeeee !important;
}
.prog-bar{
	height: 7px !important;
	background: #bebebe !important;
}
.prog-bar .progress.in-before{
	background: #bebebe;
}
.ideal span{
	background: #bebebe !important;
}
.in-out-span{
	background: #282828;
}
.arrow-up {
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #282828;
    margin-bottom: 4px;
    position: relative;
    bottom: 5px;
	left: 35px;
	margin: 0;
}
.in-out-dash{
	left: 72.5%;
}
.bottom-section{
	background: #f1f1f1;
}
.leave-box h4 i{
	font-size: 16px;
}
.user-img-hold1{
	width: 33px;
	height: 33px;
	font-size: 16px;
	line-height: 1.7;
}
.leave-name{
	font-size: 14px;
}
.leave-brd-btm{
	border-bottom: 1px solid #d7dbe4;
}
.leave-brd-btm:last-child{
	border-bottom: inherit;
}
.birth-head{
	left: 0;
	right: 0;
	top: 20px;
	color: #267292;
}
.leave-box-outer{
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	min-height: 406px;
	max-height: 406px;
	overflow: hidden;
}
.tot-hour{
	background: #eeeeee;
	border: 1px solid #d7dbe4;
}
.hour-time{
	font-size: 20px;
	color: #7c3bd0;
}
.hour-head{
	font-size: 12px;
}
.hour-time2{
	color: #2b87da;
}
.brd-red{
	border: 1px solid #ef5553;
}
.brd-grn{
	border: 1px solid #4cc64f;
}
.i-font{
	font-size: 26px;
	margin-top: 8px;
	float: left;
}
.brd-red i{
	color: #ef5553;
}
.brd-grn i{
	color: #4cc64f;
}
.leave-over{
	max-height: 305px;
	overflow: hidden;
}
.birth-over{
	max-height: 149px;
	overflow: hidden;
}
.leave-over:hover,.birth-over:hover{
	overflow: auto;
}
.pjt-lst .owl-dots{
	display: none !important;
}
.birth-bg{
	min-height: 219px;
	background-image: url('../../assets/image/birthday.jpg');
	background-size: cover;
	background-position: center center;
}
.frst-ltr{
	top: 0;
	left: 0;
}
.history-wrapper{
	max-width: 900px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	margin-top: 30px !important;
}
.hist-cont p{
	background: #ef5553;
	border-radius: 25px;
	font-size: 12px;
	max-width: 100px;
}
.his-icon{
	font-size: 20px;
	line-height: 2.5 !important;
}
.hist-cont h5{
	font-size: 15px;
}
.hist-cont h5 span{
	color: #989c9e !important;
}
.his-bg-read{
	background: #eff1f5;
}
.not-img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.not-img img{
	vertical-align: inherit;
}
.not-cont{
	padding-left: 50px !important;
}
.not-num{
	top: -5px;
	right: -5px;
	z-index: 100;
	background: #ef5553;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-size: 9px;
}
.not-para{
	font-size: 12px;
}
.side-notif{
	min-width: 300px;
}
.games-dropdown-2 {
	background-color: #FFFFFF;	
  }
  .submenu.open .menu-group-item a {
    color: #747474 !important;
}
.input-color {
    position: relative;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    /* left: 5px; */
    /* top: 5px; */
}
.time-entry{
	 display: flex;
    justify-content: center;
	align-items: center; 
	text-align: start;
}
.auto-tracked{
	background-color: green !important;
	color: white !important;
	width: 120px;
	border-top: 4px solid #0083a5;
}
.position-center{
	text-align: center;
	color: red;
}
.manual-time{
	background-color:#e2e25e !important;
	color:black !important;
	width: 120px;
	border-top: 4px solid #0083a5;
}
.no-tracked > div, .is-tracked > div {
    width: 120px;
}
.screenshot-container {
    position: relative;
    border-top: 4px solid #0083a5;
    background-color: #e9e9e9;
    width: 120px;
}
.row-projects td .same-project {
    background-color: #d8eaf6;
}
.row-projects td > div {
    padding: 10px 8px;
    margin-top: 7px;
    min-height: 37px;
    max-width: 121px;
}
small, .small {
    font-size: 85%;
}

.checkbox {
    position: relative;
    display: block;
	/* margin-bottom: 1rem; */
}
.round-hour-item {
    display: block;
	/* width: 50px; */
	font-size: 12px;
}
.popover-banner {
	position: relative;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.is-tracked-info, .no-tracked-info {
    /* padding: 10px 8px; */
    font-size: 12px;
}
div#badge-tooltip {
    /* width: 4%; */
    width: max-content !important;
}
.memo {
    width: 100%;
}
.project-name, .memo {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.screenshot-container .no-tracked-banner, .screenshot-container .is-tracked-banner {
    height: 50px;
}
.is-tracked-banner {
    cursor: pointer;
	position: relative;
	line-height: 50px;
	text-align: center;
}
.table-scroll{
	display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.row-projects td {
    padding: 0 !important;
}
.table-diary td, .table-diary th {
    padding: 0 !important;
}
.block-round-hour {
    vertical-align: middle !important;
}
.text-center {
    text-align: center;
}
body.logged-in .table-borderless > thead > tr > td, body.logged-in .table-borderless > tbody > tr > td, body.logged-in .table-borderless > tfoot > tr > td, body.logged-in .table-borderless > thead > tr th, body.logged-in .table-borderless > tbody > tr th, body.logged-in .table-borderless > tfoot > tr th {
     border: 0 none !important; 
    border-top: 0 none !important; 
}
.grid-container {
	display: grid;
	grid-template-columns: auto ;
	/* background-color: #2196F3; */
	padding: 10px;
  }
  .grid-item {
	/* background-color: rgba(255, 255, 255, 0.8); */
	/* border: 1px solid rgba(0, 0, 0, 0.8); */
	padding: 20px;
	font-size: 15px;
	text-align: center;
  }
  .try{
  display:block;
  font-size:12px;
  }
.submenu .summenu-items > .menu-group-item.inner-menu.open {
	background-color: #747474 !important; 
	border-left: 2px solid #007bff !important;
}


  .modal{
    display: block !important; /* I added this to see the modal, you don't need this */
}

/* Important part */
/* .modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 300px;
    overflow-y: auto;
} */
.notif-p{
	background: inherit !important;
	font-size: 10px;
	max-width: inherit !important;
	border-radius: inherit !important;
	color: #bdbdbd;
}
.clr-all{
	color: #ef5553 !important;
}

.loader-w-mt{
	width: 3%;
	margin-top:240px; 
}
.loader-w{
	width: 40%;
}
/* th, td {
	padding: 16px;
	&:nth-child(even) {
	  background: $gray;
	}
  } */
  
  /* .sorting-table:nth-child(odd) {
	  background-color: #818488 !important;
  } */
  /* .sorting-table:nth-child(even) {
	background-color: #fff !important;
} */
/* .dragged  { */
	/* opacity: 0.5; */
	
  /* } */
.ui-sortable-handle {
	
		display: block;
		background-color: #fff !important;
	
}
.disabled-div
	{
		pointer-events: none;
		opacity: 0.7;
	  }

.customer_type{
	margin-left: 10px;
}
#id_individual{
	margin-right: 10px;
}


